* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-color: rgb(46, 46, 46);
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

.nav-branding {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo {
    max-width: 100%;
    padding: 5px;
}

a {
    color: white;
    text-decoration: none; 
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    margin: auto;
    margin-left: 15em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-size: 20px;
}

#active {
    border-bottom: solid red;
}

.nav-link:hover {
    border-bottom: solid red;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.first-page-about-us {
    color: white;
    text-align: center;
    margin-top: 200px;
}

.intro {
    font-size: 8em;
}

.text {
    font-size: 20px;
}

button {
    margin: 20px;
    padding: 10px;
    width: 100px;
    font-size: 17px;
    border-radius: 8px;
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
    text-decoration: none;
    border: solid red;
}

button:hover {
    background-color: white;
    border: solid red;
    color: black;
}

.second-page-about-us {
    color: white;
    margin: 510px 100px 150px 100px;
    padding: 20px;
    justify-content: space-evenly;
    
    grid-template-columns: auto auto;
    display: grid;
    /* overflow: hidden; */
    row-gap: 15px;
    column-gap: 15px;
}

.second-page-about-us h5 {
    color: red;
    margin-bottom: 10px;
}

.second-page-about-us h1 {
    font-size: 50px;
}

.second-page-about-us p {
    margin-top: 15px;
}

.second-page-about-us img {
    width: 500px;
    filter: grayscale();
    
}

.grid-item1 {
    /* border: solid blue; */
    margin-bottom: 20px;
    width: 50%;
    float: left;
    font-size: 20px;
}

.grid-item2 {
    /* border: solid red; */
    float: right;
}



@media all and (max-width : 1350px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: rgba(0, 0, 0, 0.87);
    }

    .nav-item {
        margin: 16px 0;
        width: 100%;
    }

    .nav-menu.active {
        right: 0;
    }

    .navbar, .nav-branding {
        background-color: rgba(0, 0, 0, 0.87);
        width: 100%;
    }

    .first-page-about-us {
        width: 100%;
        font-size: 1.5vw;
    }

    .second-page-about-us {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .grid-item1 {
        width: 100%;
    }
    
}

@media all and (max-width : 450px) {
    .nav-branding  {
        font-size: 5vw;
    }

    .logo {
        padding: 6px;
    }

    .first-page-about-us {
        padding: 10px;
        margin-top: 50%;
        margin-bottom: 50%;
        font-size: 2.3vw;
    }

    body {
        background-position: top;
        /* width: 100%; */
    }

    .second-page-about-us {
        width: 100%;
    }

    /* .grid-item1 {
        width: 100%;
        font-size: 1vw;
    } */
    
}

/* @media all and (max-width: 580px) {
    .grid-item1 {
        width: 100%;
        font-size: 3vw;
    }
    
} */


